*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
position: relative;
width: 100%;
min-height: 120vh;
display: flex;
flex-direction: column;
background: url(lava.jpg)no-repeat;
justify-content: flex-start;
background-size: cover;
background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 0.3s;
    transition-property:  background;
}

header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.boxed{
    position: absolute;
width: 1450px;
height: 660px;
left: 40px;
right: -40px;
top: 100px;
bottom: -120px;
border-radius: 8px;

/* Other/Navy */
background: rgb(39, 5, 75);
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: #773686;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: #fff;
    background: #e07fd7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #ab58b4;
}

.box{
    width: 600px;
    background: rgba(119, 69, 123, 0.4);
    padding: 40px;
    text-align: left;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    }
    .box h2{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 20px;
    }

    .box p{
    text-align: justify;
    }

    .photo{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 900px;
        right: -1023px;
        top: 15px;
        bottom: 100px;
    }

.medial-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.medial-icons a{
    color: #fff;
    font-size: 25px;
    position: relative;
}

.medial-icons a:not(:last-child){
    margin-right: 60px;
}